<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dp.english">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/kit"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ResultTestNoRight"></activity>
        <activity android:name=".ResultTestRight" />
        <activity android:name=".TakeTestActivity" />
        <activity android:name=".TakeTestOrLesson" />
        <activity android:name=".TestChoose" />
        <activity android:name=".model.LessonChoose" />
        <activity android:name=".model.TakeLesson" />
        <activity android:name=".model.ChooseLevel" />
        <activity android:name=".presenter.SignUp" />
        <activity android:name=".presenter.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>